h1{
  font-family: 'scada';
  text-align: center;
}

.nav{
  font-family: 'scada' ;
}

.title{
  color: red;
  margin-left: 5px;
  margin-top: 260px;
  line-height: 1.8;
  z-index: 5;
  font-family: 'Mukta', sans-serif;
}

.homeBackground{
  width: 1000px;
  height: 100%;
  z-index: -5;
  position: fixed;
  font-family: 'Mukta', sans-serif;
}

.navhome{
  padding-right: 10px;
  color: black;
  font-size: larger;
}

.navbar{
  border-style: solid;
  color: transparent;
  font-family: 'Mukta', sans-serif;
  font-size: x-large;
}