h1{
  font-family: 'scada';
  text-align: center;
}

.banner{
  background-image: url(./assets/chicagoSkyline.jpg);
  background-size: cover;
  text-align: center;
  font-size: 55px;
  font-family: 'scada';
  overflow: hidden;
  margin: 0;
}

.nav{
  font-family: 'scada' ;
}